@{
    ViewData["Title"] = "Home Page";
}
<style>
    .jumbotron{
        font-family:'Times New Roman', Times, serif;
    }
</style>
<div class="jumbotron text-center text-white bg-info">
    <h1 class="display-4">JokesApp</h1>
    <p> Its time to laugh on crazy jokes</p>
    
</div>
